@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;1,300&display=swap');

/* Estos estilos aparecen en todas las  páginas */
* {
    margin: 2px 2px 2px 2px;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif !important;
    background: #3a3464;
    color: #fff;
}


/* HEADER */

header {
    background: linear-gradient(90deg, #020208 40.8%, rgba(2, 2, 8, 0) 100%);
    border-bottom: solid 1px #1D2023;
    margin-bottom: 50px;

}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
   

}

.logo {
    font-family: 'Bebas Neue', cursive !important;
    font-size: 32px;
    font-weight: 400;
}

.logo a {
    text-decoration: none;
    color: #1d3801;
}

.nav ul {
    display: flex;
    list-style: none;
}

.nav ul li {
    padding: 10px;
}

.nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
}

.container-search {
    position: relative;
    display: flex;
    align-items: center;
}

.container-search input {
    padding: 14px;
    border: 2px solid #44424B;
    border-radius: 10px;
    outline: none;
    background: #020208;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    width: 247px;
    height: 42px;
}


.input-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    left: unset;
    right: 12px;
    cursor: pointer;
}

/* CATEGORIES */

.categories{
    width: 80%;
    margin: auto;
}

.categories h2 {
    text-align: center;
    font-size: 55px;
    font-weight: 600;
    padding: 100px 0 20px 0;

}

.container-categories {

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.category{
    margin: 0 10px;
    margin-bottom: 50px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    background-color: #333333;
    border-radius: 8px;
}

.category:hover {
    background-color: #1d3801;
}

.oculto{
    display: none;
}

.see{
    display: block;
}

footer{
    border-top: solid 1px #44424B;
}

footer p{

    text-align: center;
    padding: 20px;
    font-size: 25px;
}

img{
    cursor: pointer;
}

.oculto{
    display: none;
}

@media (max-width: 717px) {


    .container-search{
        margin-bottom: 20px;
    }

    
    .container {
        flex-direction: column;
    
    }
}

